header {
    border: none;
}

a {
    color: rgb(205, 201, 201);
    font-size: 20px;

}

img {
    max-width: 40px;
    max-height: fit-content;
    padding-top: 2px;
}

.right {
    padding-left: 723px;
}